/*  style guide 

#232323 (Black)
#eeb310 (Gold)
#d3bc8d (Realistic Gold)
#6d5312 (Dark Gold)
#fbfaf5 (Off-White)

*/

:root{
    --broomeblack: #232323;
    --broomeoffwhite:#fbfaf5;
    --broomeyellow: #eeb310;
    --broomegold: #d3bc8d;
    --broomedkgold: #6d5312


}


/* Google Fonts
--------------------------------------------- */

.roboto-slab-<uniquifier>{font-family:"Roboto Slab",serif;font-optical-sizing:auto;font-weight:<weight>;font-style:normal}.barlow-semi-condensed-thin{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:normal}.barlow-semi-condensed-extralight{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:normal}.barlow-semi-condensed-light{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:normal}.barlow-semi-condensed-regular{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:normal}.barlow-semi-condensed-medium{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:normal}.barlow-semi-condensed-semibold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:normal}.barlow-semi-condensed-bold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:normal}.barlow-semi-condensed-extrabold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:normal}.barlow-semi-condensed-black{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:normal}.barlow-semi-condensed-thin-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:italic}.barlow-semi-condensed-extralight-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:italic}.barlow-semi-condensed-light-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:italic}.barlow-semi-condensed-regular-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:italic}.barlow-semi-condensed-medium-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:italic}.barlow-semi-condensed-semibold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:italic}.barlow-semi-condensed-bold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:italic}.barlow-semi-condensed-extrabold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:italic}.barlow-semi-condensed-black-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:italic}




/* links */
	
	*:focus, input:focus, input[type=search]:focus {
	   /* outline: 2px solid red !important;
	    outline-offset: 2px !important;
	    -webkit-transition: none !important;
	    -moz-transition: none !important;
	    -o-transition: none !important;
	    transition: none !important; */
	}

body {color:#232323; font-size: 1.1rem; line-height:1.66; margin: 0;
    font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}


a {color: #04407B; text-decoration: underline;}
a:hover, a:focus {color: #946232;text-decoration: none; /*border:0px;*/}

 a.btn-primary:hover,  a.btn-primary:focus {color: #fff;}



/* Headings
--------------------------------------------- */


h1 {  font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; 
    text-transform: uppercase; letter-spacing:-0.015em; font-weight:700;}

.page-header {padding-bottom:5px; margin-bottom: 2.5rem; border-bottom: 1px solid #bfbebe;}

h2 {margin-bottom: 1rem;}

h2, h3, h4 {margin-top: 0.9rem;}


/* header */

.firstnav {border-top: 10px solid #eeb310; background-color: #000; height:65px; color:#fff;}

.firstnav .navbar {height:55px; --bs-navbar-padding-y: 0rem;}

.firstnav a, .secondnav a, .libnav a {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; text-transform: uppercase;font-size: 14px; font-weight:bold; letter-spacing:0.015em; /*padding-bottom:15px;*/}

.firstnav a  {font-size: 12px; color:#fff;}

.firstnav .nav > li > a:hover {text-decoration: none;background-color: #000; color: #eeb310;}

.firstnav .dropdown-menu {background-color: #232323; color: #eeb310;}

.firstnav .dropdown-item.active, .secondnav .dropdown-item.active, .libnav .dropdown-item.active, .fourthnav .dropdown-item.active {--bs-dropdown-link-active-bg: #fff; color:#6d5312}

.firstnav .nav-link:focus, .firstnav .nav-link:hover {color:#eeb310;}

.firstnav li.dropdown-item    {/*background-color:#000; color:#fff;*/}
.firstnav li.dropdown-item a:hover   {background-color:#000; color:#fff;}

.firstnav .dropdown-item:hover, .dropdown-item:focus {background-color:#000; color:#fff;}
.firstnav  .navbar-nav .nav-link.show {color: #eeb310;}

.secondnav a, .libnav a {color:#232323;}
.secondnav a:hover, .libnav a:hover {color:#6d5312;}


.libnav a  {font-size: 0.9em;}


/* menu dropdowns */
.firstnav .dropdown-item a, .secondnav .dropdown-item a, .libnav .dropdown-item a, .fourthnav .dropdown-item a {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif; font-size:0.8em;}

.secondnav .dropdown-item,  .libnav .dropdown-item {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif; font-size:0.8em;}

.secondnav .dropdown-menu >li, .libnav .dropdown-menu >li {border-bottom: 1px solid #232323; font-size: 1.2em; background-color:#fff; margin-bottom: 5px;padding-bottom: 5px;}

.libnav li.dropdown-menu a {text-decoration: none; background-color:#fff; }

.libnav a.dropdown-item:hover, .libnav a.dropdown-item:active {background-color:#fff;text-decoration: underline;}

.libnav a.active.dropdown-item.is-active-hover {}

/* mobile dropdown */
.firstnav .dropdown-menu  a  {background-color:#232323; color:#fff;}
.firstnav .dropdown-menu > li a:hover,  .firstnav .dropdown-menu > li a:focus, .firstnav .dropdown-menu > li a:active {text-decoration: underline; background-color: #eeb310; color:#000;}

.firstnav .menu-item--expanded, .secondnav .menu-item--expanded, .libnav .menu-item--expanded {list-style:none;}

.dropdown-menu.show {border:none;}


/* mobile button */
.firstnav button {width: 60px; height: 50px; padding: 0;color: #fff; border:0px;}
.secondnav button, .libnav button  {width: 60px;height: 50px;padding: 0;color: #000; border:0px;}

.firstnav .icon, .secondnav .icon, .libnav .icon {margin: -5px; font-size: 26px; line-height: 26px;}
.firstnav .icon-text, .secondnav .icon-text, .libnav .icon-text   {display: block;margin: -5px 0;font-size: 12px; line-height: 10px;}

.firstnav .icon-text {color:#fff;}
.secondnav .icon-text, .libnav .icon-text  {color:#000;}

.secondnav  img {width: 200px; height: 22px;}


.libnav .navbar-toggler {}


/* sidebar menu */


 .fourthnav   ul {background-color: #000; color:#fff;}
.fourthnav    ul.menu a.is-active {background-color: var(--broomeyellow); color: #000;}

 .fourthnav   li {border-bottom: 1px solid #d8d8d8;}

 .fourthnav    a {font-weight:bold;  padding-bottom:15px; color:#fff;}

 .fourthnav    .nav.nav-pills.flex-column > li {margin: -1px 0 0;border: solid 1px #e9ecef;}

  .fourthnav   .nav.nav-pills.flex-column > li ul > li {border: none;}

  .fourthnav   .nav.nav-pills.flex-column > li a:focus,  .nav.nav-pills.flex-column > li a:hover {background-color: var(--broomeyellow); color: #000;}


 .fourthnav    .nav.nav-pills.flex-column > li ul > li a {font-weight: 500; font-size:0.9em;}

/* alerts */
.bcc_alert {background-color: #ff1111; color:#fff;}

.bcc_alert p {padding:10px 0; margin-bottom:0px; text-align:center;
    font-weight:bold;  font-size:1rem;}

/* hero image */

.site-hero-wrap {/* overflow: hidden; */ position: relative;}
.region-hero img{width:100%; display:block;}

.library-logo {  background-color: #000;   padding: 0.5rem;  position: absolute;}

 .library-logo a { font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; font-size: 2em; font-weight: 700;  text-transform: uppercase;  color: #fff; text-decoration: none; line-height:1;}

 .library-logo a:hover,  .library-logo a:focus {text-decoration: underline;} 



/* breadcrumbs */
.breadcrumb  {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; letter-spacing:0.015em; color:#424242; font-size:0.9em;font-weight:700}
.breadcrumb li, .breadcrumb a {color:#424242;}

/* content */
.front  #main-content h1 {display:none;}
.front .page-header {display:none;}
.path-frontpage h1 {display:none;}

/* quick search */

.homepagesearch {--bs-nav-link-padding-x: 2rem; background-color: rgba(0,0,0,.8); padding:1rem;  }

.homepagesearch .tab-content {background-color: #fff; padding:1.5rem;}

.homepagesearch.tabs .nav-tabs .nav-link {border-width: 0;color: #fff; font-size: 1rem; font-weight: 700; /*border-bottom: 1px solid #232323;*/ padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);}
.homepagesearch .nav-tabs .nav-link.active { color:#000;}


div.homepagesearch.tabs li > button {/*font-weight: bold;*/ color:#000;}
div.homepagesearch.tabs li > button:hover  {font-weight: bold; color: #946232;}

.homepagesearch .nav-tabs {--bs-nav-tabs-border-radius: none;}

.homepagesearch  .btn-info {color: #fff;border-color: #022241;background-image: linear-gradient(#04519b,#033c73 60%,#02325f);}

.homepagesearch form { flex-wrap: nowrap; margin-bottom: 1rem;}
.homepagesearch .bef-exposed-form .form--inline { margin-bottom: 0}
.homepagesearch .form-type-select {flex-shrink: 0}
.homepagesearch .form-item-query { flex-grow: 1;}
.homepagesearch .input-group {--bs-border-radius: 4px; align-items: center;}
.homepagesearch .input-group-lg > .form-control {font-size:0.9em;}

.library-links {padding-top:10px; margin-bottom:0px;clear:both;}



/* libcal hours */
	
.libraryHoursContainer {min-height:55px;}

.hours-today { border-spacing: 0; border-collapse: collapse; width: 100%; margin-bottom:0px;}
.hours-today-row td, .hours-today-row th { padding: 8px 5px; border:none;}

.hours-today-row { border-bottom: 1px solid #ddd; }

.s-lc-w-today-view-link a { text-decoration: underline; /*border-bottom: 1px dotted #ccc;*/ }
.s-lc-w-today-view-all { padding: 8px 5px; }

/* hours page */

.sr-only {display:none;}
.hours-all .nav > li > a {position: relative;display: block;padding: 10px 15px;}
.hours-all .nav-pills > li > a {border-radius: 4px;}
.hours-all .nav-pills > li.active > a, .hours-all .nav-pills > li.active > a:hover, .hours-all .nav-pills > li.active > a:focus {
    color: #ffffff; background-color: #001E44;}



.s-lc-fhw-map { border:1px solid #ccc; width: 750px; height: 300px; } 
.s-lc-fhw-pills { padding: 10px 0px;}
#s-lc-fhw-ltab {display:none;}
#s-lc-fhw-hl{display:none;}

/*month*/
.s-lc-mhw-tb { width: 100%; border: 1px solid #ddd; border-collapse: collapse; border-spacing: 0; } 
.s-lc-mhw-tb th, .s-lc-mhw-tb td { border: 1px solid #ddd; vertical-align: top; } 
.s-lc-mhw-tb thead { background-color: #F5F5F5; } 
.s-lc-mhw-header { text-align: center; } 
.s-lc-mhw-header-date { text-align: center; display: inline-block; margin-top: 5px; font-size: 130%; } 

/* libcal events widget */

#lc_1632b5c05e43 {max-height:550px;}
.region-sidebar-second iframe {height:330px;}


/* Lib chat */

.lcs_slide_out-r {top: 25% !important;}

.lcs_slide_out div.lcs_header a {text-decoration:none; }
.lcs_slide_out div.lcs_header a:hover {text-decoration:underline; }

.mobile_chat {display: none;}

/*  books and news blocks */
.region-books-display li {float:left;margin-left:20px;list-style-image: none;
    list-style-type: none;}

/* add book-ul class in view */	
ul.book-ul li {float:left;list-style-image: none;list-style-type: none;}	

.region-books-display li img {max-width:135px;}

.region-books-display .more-link {clear: both;}

/* news */
.view-news-and-events .views-row {margin-bottom: 10px;}
.view-news .views-row {margin-bottom: 10px;}
.row .views-row {margin-left:15px; margin-right:15px;}

/* journal a-z */

.journal-container {margin-top:40px;}
	
.alpha-list li, .alpha-list li {border: 1px solid #ddd;color: #000;
    width: 25px;height: 25px;
    display: inline-block;text-align: center;           
    margin: 0 7px 7px 0;padding: 0;text-indent: 0;}

.alpha-list a {color:#000;}

/* news page */

.node__meta {padding-top:0; padding-bottom: 2rem;}
.node__submitted {font-style:italic;}

/* libcankle */
.libcankle {padding-bottom: 3rem;padding-top: 3rem;}
.libcankle .container {background-color:#f8f8f8; font-weight:500; padding: 2rem;}

/* cankle */

.cankle {background-color:#232323; font-weight:500; padding-top:100px; padding-bottom:100px; color: #fff; }

.cankle h3, .cankle h4 {color: #fff;}
.cankle h3 a {color: #232323; border-bottom: none;}
.cankle h3 a:hover {color: #232323;}


.cankle ul {padding-top:10px; padding-left:0;}
.cankle li {margin-left:0px;list-style-image: none;list-style-type: none; padding: 10px;}

ul.campus > li {padding-top:0;}

ul.apply > li, ul.health > li, ul.quicklinks > li {/*border-bottom: 1px solid #d8d8d8;*/}
ul.apply > li.last,  ul.health > li.last, ul.quicklinks > li.last {border-bottom: none;}

.cankle p  { color:#fff; font-size:1rem;}

.cankle a  { color:#fff; text-decoration:none; border-bottom: 1px dotted #d8d8d8; font-size:1rem;}
.cankle a:hover, .cankle a:focus {color: #eeb310; text-decoration:underline; font-weight:700;}

.cankle a.social-icons  {text-decoration:none; border:none;}

a.footerlogo img {/*max-width:300px;*/}
.cankle .region-cankle1 img {/*max-height:52px;*/}


.cankle svg {margin-right: 0.4rem; color: #eeb310;}




/* footer */

.footer {background-color:#d3bc8d; padding: 20px; font-weight: 700;}
.footer p {text-align:center;margin-bottom:0px; } 
.footer a {color: #232323; text-decoration:underline;}




/* https://getbootstrap.com/docs/5.3/layout/breakpoints/  */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  .secondnav .navbar {min-height: 85px;}
  .secondnav  img {width: 250px; height: 27.5px;}

  .region-hero img { max-height:380px;}
  .library-logo a {font-size:4em;}

   .fourthnav {padding: 20px;}
   .fourthnav a:hover {/*background-color:#f6f6f6;*/}

   .frontdecor {/*background-color: #d3bc8d;padding: 10px; margin-bottom: 20px;*/}
   .homepagesearch {/*padding: 20px;background-color: #fff;*/}

    .homepagesearch .tab-content {min-height: 192px;}
 }


@media screen and (max-width: 800px) {

  .mobile_chat {display: inline-block;
    width: 100%;background-color: #286090;text-align: center;
    margin-top: .0625rem;}

  .mobile_chat button:hover {/*text-decoration:underline;*/}

  #lcs_slide_out-20238, #lcs_slide_out_button-28113 {display: none;}
}

@media (min-width:768px) and (max-width:991px){

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .navbar-nav .dropdown:hover > .dropdown-menu {/*display: block;*/}

    .libnav .navbar-nav .link-container {/* penn align-items: center;display: flex;justify-content: space-between;*/}
    .libnav .navbar-nav .dropdown-arrow {/* penn cursor: pointer;display: block;margin-top: -16px;padding-left: 10px;*/}


    .library-logo a { font-size:4.5em;}
       h1 { font-size:3.0rem;}

    .libnav  {margin-bottom: 20px;}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .library-logo a { font-size:4.5em;}

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 


    .region-hero img { max-height:380px;}
    .library-logo a { font-size:5em;}

     h1 { font-size:4.0rem;}

 }

